<%- include('../partials/header'); %>
<div class="relative flex flex-col sm:justify-center items-center bg-gray-100  md:ml-64 bg-blueGray-50">
    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>

    <div class="flex justify-around mt-4 mb-4">
        <h1 class="text-xl font-bold">Cronograma del Almuerzo Cataino</h1>
        
    </div>
    
    
    
    <div class="card-body">
        
        <% if(data.length) { %>
            <div class="flex justify-around ">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                  <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <div>
                            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Fecha</label>   
                            <div class="flex items-center justify-between">
                                <div class="datepicker relative form-floating mb-3 xl:w-96" data-mdb-toggle-button="false">
                                  <input type="date"
                                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                    placeholder="Select a date" />  
                                </div>
                              </div>
                        </div>
        <table class="content-center">
             
            <thead class="border-b bg-gray-800">
                <tr>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">#</th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">Lunes</th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">Martes</th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">Miercoles</th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">Jueves</th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">Viernes</th>

                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">accion</th>
                </tr>
            </thead class="border-b">
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <tr class="bg-white border-b">
                    <th class="px-6 py-4 whitespace-nowrap text-sm font-medium border-b bg-gray-800 text-white"><%= data[i].crm_tipo %></th>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= data[i].crm_Lunes%></td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= data[i].crm_Martes%></td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= data[i].crm_Miercoles%></td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= data[i].crm_Jueves%></td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= data[i].crm_Viernes%></td>
                    
                    
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="../menu/edit/<%=data[i].crm_id%>">Editt</a>
                                                
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        </div>
    </div>
</div>
</div>
        
        
        <% } %>
        
        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">No productos found!</p>
        <% } %>

        </div>
    
</div>
</body>
</html>
