<%- include('../partials/header'); %>
<script src="https://cdn.tailwindcss.com"></script>
<div class="relative md:ml-64 bg-blueGray-50">
    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>

    <div class="flex justify-evenly mt-0 pt-10 mb-0">
        <h1 class="text-xl font-bold">Lista de productos</h1>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/products/add">Add Products</a>
    </div>
    <div class="card-body">
        
        <% if(data.length) { %>
            <div class="flex justify-around ">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                  <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
        <table class="content-center table-auto">
             
            <thead class="border-b bg-gray-800">
                <tr>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">#</th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">Nombre</th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">Codigo</th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">Precio</th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">Action</th>
                </tr>
            </thead class="border-b">
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <tr class="bg-white border-b">
                    <th class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= (i+1) %></th>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= data[i].prod_nombre%></td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= data[i].prod_codigo%></td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= data[i].prod_unidad_precio%></td>
                    
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="../products/edit/<%=data[i].prod_id%>">Editt</a>                       
                        <a class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="return alert('Are You sure?')" href="../products/delete/<%=data[i].prod_id%>">Del</a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        </div>
    </div>
</div>
</div>
        
        
        <% } %>
        
        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">No productos found!</p>
        <% } %>
 <!-- datatables JS -->
 <script type="text/javascript" src="datatables/datatables.min.js"></script>    
     
 <!-- para usar botones en datatables JS -->  
 <script src="datatables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>  
 <script src="datatables/JSZip-2.5.0/jszip.min.js"></script>    
 <script src="datatables/pdfmake-0.1.36/pdfmake.min.js"></script>    
 <script src="datatables/pdfmake-0.1.36/vfs_fonts.js"></script>
 <script src="datatables/Buttons-1.5.6/js/buttons.html5.min.js"></script>

        </div>
    
</div>
</body>
</html>
  